<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
  <footer th:fragment="footer" class="footer">
    <h3>Contatos</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/devluanrodrigues/" target="_blank">
        <img src="/img/LinkedIn.svg" alt="LinkedIn Icon" class="icon-img">
      </a>
      <a href="https://github.com/devLuanRodrigues" target="_blank">
        <img src="/img/GitHub.svg" alt="Github Icon" class="icon-img">
      </a>
    </div>

    <p>&COPY; Muralis - Além do Sistema, 2025. Desenvolvido por Luan Rodrigues.</p>
  </footer>
</body>
</html>