<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comércio S.A</title>
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <header th:replace="fragment/header :: header"></header>

    <main>
        <table class="table">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Contato</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.cpf}"></td>
                    <td th:text="${client.nome}"></td>
                    <td th:text="${client.contato[0].valorContato}"></td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>