<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Cliente</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<header th:replace="fragment/header :: header"></header>

<main class="container">
    <div class="button-container">
        <button class="btn btn-primary" onclick="editClient()">Editar Dados</button>
        <button class="btn btn-secondary" onclick="goBack()">Retornar</button>
    </div>

    <div class="personal-info">
        <h2>Dados Pessoais</h2>
        <div class="info-item">
            <p><strong>Nome:</strong> <span th:text="${client.nome}"></span></p>
        </div>
        <div class="info-item">
            <p><strong>CPF:</strong> <span th:text="${client.cpf}"></span></p>
        </div>
        <div class="info-item">
            <p><strong>Data de Nascimento:</strong> <span th:text="${client.dataNascimento}"></span></p>
        </div>
        <div class="info-item">
            <p><strong>Endereço:</strong> <span th:text="${client.endereco}"></span></p>
        </div>
    </div>

    <div class="contact-info">
        <h2>Contatos</h2>
        <div id="contactList">
            <div th:each="contact : ${client.contato}" class="contact-item">
                <div>
                    <p><strong>Tipo:</strong> <span th:text="${contact.tipoContato}"></span></p>
                    <p><strong>Valor:</strong> <span th:text="${contact.valorContato}"></span></p>
                    <p><strong>Observação:</strong> <span th:text="${contact.observacao}"></span></p>
                </div>
                <button class="btn btn-danger" onclick="removeContact(this)">Excluir Contato</button>
            </div>
        </div>
        <button class="btn btn-success" onclick="addContact()">Adicionar Contato</button>
        <button class="btn btn-primary" onclick="confirmAddContact()">Confirmar</button>
    </div>
</main>

<footer th:replace="fragment/footer :: footer"></footer>
<script src="/js/script.js"></script>
</body>
</html>